@import "../css/_variables"

+mobile
  .main
    padding-top: 10px

+gt-mobile
  .editor
    height: calc(100vh - #{$navigation-placeholder-height})
    overflow: hidden
    display: grid
    grid-template-rows: $topbar-height 1fr

  .main
    display: grid
    grid-template-columns: 1fr $editor-sidebar-width
    grid-gap: 1.5rem
    margin-right: 2rem
    background: #fbfbfb

.preview
  display: grid
  place-items: center

.roundedInput
  height: 42px
  border-radius: 21px
  border: 1px solid #666
  padding: .4em 1rem
  font-size: 1.2em
  outline: none
  box-shadow: none
  width: 100%
  +focus-outline

.paddedContainer
  padding: 1.5rem 1.5rem .5rem
  display: flex
  flex-direction: column
  flex: 1

.largeLabel
  display: block
  font-size: 1.3rem
  font-weight: 500
  margin-bottom: 1rem !important

.fonts
  display: flex
  align-items: center
  justify-content: space-between

  +lt-fhd
    margin-top: 1rem

.fontOption
  background: white
  height: 40px
  line-height: 40px
  border-radius: 20px
  border: 1px solid #333
  padding: 0 1.25rem

.fontOption, .alignmentOption
  &.isActive
    background-color: #ccc

.textAlignment
  display: flex
  +lt-fhd
    margin-top: 1rem

.alignmentOption
  display: inline-block
  flex: 1
  border: 1px solid #333
  background: white
  margin-bottom: 1rem

  svg
    height: 30px
    width: 30px

  &:first-child
    border-radius: 5px 0 0 5px

  &:last-child
    border-radius: 0 5px 5px 0

  &:not(:last-child)
    border-right: none

.borderTypes
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 1.5rem
  justify-content: space-between

  a
    font-weight: bold
    font-size: 1.1rem
    border-radius: 25px
    background: white
    display: inline-flex
    align-items: center
    justify-content: center
    height: 50px
    line-height: 50px
    color: #333
    border: 1px solid #333

    &.isActive
      border-color: $primary