@import "../../css/_variables"

.preview
  position: relative
  --height: #{$preview-max-height}
  height: var(--height)
  --width: calc(var(--height) * var(--aspect-ratio))
  width: var(--width)
  --base-padding: calc(var(--width) * 0.035)
  padding: var(--base-padding)
  border-radius: 4px
  border: 1px solid #999
  box-shadow: 0 0 10px rgba(0, 0, 0, .2)
  background: var(--border-fill, white)

  +mobile
    margin: .25rem 1rem 1rem
    --width: calc(90vw * var(--aspect-ratio))
    --height: 90vw

  &.landscape
    --base-padding: calc(var(--height) * 0.035)

    +mobile
      --width: calc(100vw - 3rem)
      --height: calc(var(--width) / (var(--aspect-ratio)))

  &.sizeM
    --aspect-ratio: 46 / 32

    &.portrait
      --aspect-ratio: 32 / 46

  &.sizeL
    --aspect-ratio: 71 / 50

    &.portrait
      --aspect-ratio: 50 / 71

  &.sizeXL
    --aspect-ratio: 81 / 57

    &.portrait
      --aspect-ratio: 57 / 81

  &.single
    .previewFrame
      grid-template: 1fr / 1fr

.previewFrame
  height: 100%
  display: grid
  grid-gap: var(--base-padding)
  overflow: hidden

  > div
    display: flex
    overflow: hidden

    img
      width: 100%
      height: 100%
      object-fit: cover

.placeholder
  background: #fafafa
  display: flex
  align-items: center
  justify-content: center
  z-index: 11
  flex-direction: column
  text-align: center

  border: 4px dashed #eee

  p
    margin-bottom: 0

  svg
    width: 5rem
    height: auto
    margin-bottom: 1rem

  progress[value="0"]
    height: 0
    visibility: hidden

.textOverlay
  position: absolute
  right: var(--base-padding)
  left: var(--base-padding)
  top: var(--base-padding)
  z-index: 12

.filterOverlay
  z-index: 10

.imageThumbnail
  position: relative

  &:hover
    .cropButton
      opacity: 1

.cropButton
  position: absolute
  bottom: 5%
  overflow: hidden
  right: 5%
  width: 50px
  height: 50px
  background: transparentize(white, .5)
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  padding: .6rem
  transition: .15s ease-in-out
  opacity: 0
  z-index: 11

.overlay
  z-index: 10

.customBorderOverlay
  z-index: 11
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  object-fit: cover
  pointer-events: none
