@import "../../css/_variables"

.layout
  height: calc(100vh - #{$navigation-placeholder-height})
  position: relative
  display: grid
  grid-template-rows: $topbar-height 1fr
  overflow: hidden

$cropper-height: calc(100vh - #{$navigation-placeholder-height} - #{$topbar-height})

.cropper
  height: $cropper-height
  display: flex
  align-items: center
  justify-content: center
  position: relative

.topbar
  height: $topbar-height

.loader
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  text-align: center
  background: white
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  p
    font-size: 1.3rem

.image
  display: block
  max-width: 100%
  height: 100%
  object-fit: cover