@import "../../css/_variables"

.filters, .frames
  display: grid
  flex: 1
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr))
  grid-column-gap: 1rem
  grid-row-gap: .25rem
  grid-template-rows: 1fr 1fr
  text-align: center
  padding: 1rem
  margin-bottom: 1rem
  align-items: start
  overflow-y: auto

.filterOptionPreview
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  &.isActive > .filterOptionPreviewImg
    border-color: $primary

.filterOptionPreviewImg
  width: 90px
  height: 90px
  cursor: pointer
  border-radius: 15px
  border: 5px solid white
  box-shadow: 0 0 10px rgba(0,0,0,.2)
  overflow: hidden
  position: relative

  img
    width: 100%
    height: 100%
    object-fit: cover

.filterName
  margin-top: .5em
  font-weight: 500