@import "../../css/_variables"

.header, .cropHeader
  background: $topbar-bg
  height: var(--topbar-height)
  display: flex
  z-index: 10
  align-items: center
  justify-content: center
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2)
  position: relative
  padding: 10px 0

.cropHeader
  font-size: 17px

.select
  border-radius: calc(var(--topbar-select-height) / 2)
  position: relative
  background: transparent

  &:not(:last-of-type)
    margin-right: 1.5rem
    +mobile
      margin-right: .5rem

  label
    margin-top: 0 !important
    +mobile
      span
        display: none

  select, select + label
    top: 0
    left: 0
    bottom: 0
    right: 0
    width: 100%
    font-size: 1.1rem
    +mobile
      font-size: 16px
      white-space: nowrap

  select + label
    background: white
    background-clip: padding-box
    border: solid 1px transparent
    height: var(--topbar-select-height)
    display: flex
    align-items: center
    border-radius: inherit
    box-sizing: border-box
    padding: 0 2.25rem 0 1rem
    z-index: 11
    transition: .15s ease-in-out
    user-select: none
    +mobile
      padding-right: 1rem

    span
      margin-right: .25em

    +mobile
      strong
        font-weight: normal

  select
    opacity: 0
    position: absolute
    option
      font-weight: 400

    &:focus
      + label
        border-color: $primary

  +gt-mobile
    &::after
      border: 3px solid #999
      border-radius: 2px
      content: " "
      display: block
      height: .625em
      margin-top: -.4375em
      pointer-events: none
      position: absolute
      transform: rotate(-45deg)
      transform-origin: center
      width: .625em
      top: 50%
      right: 1.125em
      border-right: 0
      border-top: 0

.backLink
  display: flex
  align-items: center
  position: absolute
  padding: 0 1rem
  height: $topbar-height
  line-height: $topbar-height
  left: 120px
  color: inherit

  &:hover
    text-decoration: none
    color: black

  svg
    height: $topbar-height - 40px
    width: auto
    margin: .5em

.explanationText

.confirmButton
  position: absolute
  right: 120px
  display: inline-flex
  align-items: center
  font-size: 22px !important
  height: $topbar-height - 10
  padding: 0 1.2rem
  border-radius: ($topbar-height - 10) / 2
  border: 1px solid #333
  font-weight: 400 !important

.wrapper
  display: flex
  +mobile
    transform: scale(.9)
