@import "../../css/_variables.sass"

.modal
  display: block
  background: white
  border-radius: 10px
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  padding: 1.5rem
  z-index: 1032
  text-align: center
