@import "../../css/_variables"

.sidebar
  +gt-mobile
    background: white
    box-shadow: 0px 2px 10px rgba(0,0,0, .2)
    padding: 1rem
    margin-bottom: 2rem
    box-sizing: border-box
    border-radius: 0 0 10px 10px
    display: flex
    flex-direction: column
    height: calc(100vh - #{$navigation-placeholder-height} - #{$topbar-height} - 2rem)
    overflow: hidden

.menu
  flex: 1
  +mobile
    padding: 0 1rem
    width: 100%

.checkoutSection
  margin-top: 1rem
  padding: 1rem 0
  border-top: 1px solid #eee

  +mobile
    margin-right: 1.25rem
    margin-left: 1.25rem

  +lt-fhd
    padding: .5rem 0

.menuLink
  font-size: $sidebar-link-mobile-font-size
  display: grid
  grid-template-columns: 70px 1fr
  grid-gap: 2rem
  border-radius: 10px
  padding: 5px
  height: $sidebar-link-mobile-height
  +gt-mobile
    font-size: $sidebar-link-font-size
    height: $sidebar-link-height
  font-weight: 500
  margin-bottom: .75rem
  align-items: center
  border: 1px solid #e0e0e0
  color: #333
  transition: border-color .1s ease-in-out
  position: relative

  &:hover
    text-decoration: none
    color: #333
    border-color: #999

  svg
    justify-self: center
    height: $sidebar-icon-mobile-height
    +gt-mobile
      height: $sidebar-icon-height
    width: auto

  &::after
    border: 3px solid rgba(0, 0, 0, .5)
    border-radius: 2px
    content: " "
    display: block
    height: .625em
    margin-top: -.4375em
    pointer-events: none
    position: absolute
    transform: rotate(-135deg) translateY(-50%)
    transform-origin: center
    width: .625em
    top: 50%
    right: 1.65em
    border-right: 0
    border-top: 0

  &.sideMargin

  &.isActive
    background: $button-gradient
    color: white

    &::after
      border: 3px solid rgba(255, 255, 255, .5)
      border-right: 0
      border-top: 0
      transform: rotate(-45deg)

.priceRow
  display: flex
  justify-content: space-between
  padding: .5rem 2.5rem
  font-weight: bold
  font-size: 1.75rem

  +lt-fhd
    font-size: 1.6rem
    padding-top: .25rem
    padding-bottom: 0

.priceRowAmount
  color: $secondary
