body
  font-family: $font-family
  overflow-x: hidden

#pyof
  position: relative
  padding-top: $navigation-placeholder-height
  +mobile
    padding-top: 98px
  margin-bottom: 2rem
  +gt-mobile
    margin-bottom: 5rem
  h1, h2
    color: black
    font-weight: 500

  .overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: transparent
    pointer-events: none
    transition: .2s ease-in-out
    z-index: 1031

    &.is-visible
      background: transparentize(black, .5)
      pointer-events: auto

  .has-font-serif
    font-family: Georgia, 'Times New Roman', Times, serif

  .has-font-sans
    font-family: "Barlow", Arial, Helvetica, sans-serif

  .has-font-comic
    font-family: "Comic Sans MS", Chalkboard

  .has-font-decorative
    font-family: "Brush Script MT", cursive

  .action-buttons
    margin-top: auto
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 2rem

    button, a
      display: inline-flex
      align-items: center
      justify-content: center
      border: 2px solid #666

  .editor__large_label
    margin-top: 1em
    display: block
    font-size: 1.3rem
    font-weight: 500
    margin-bottom: 1rem !important

  .button
    display: inline-block
    background: $button-gradient
    color: white
    padding: 0 2.45em
    height: 44px
    line-height: 44px
    border-radius: 22px
    border: none
    font-size: 1.2em
    +focus-outline

    &:hover
      text-decoration: none
      color: white

    &.is-fullwidth
      height: 50px
      border-radius: 25px
      display: block
      width: 100%

    &.stroke
      border: 2px solid $primary
      background: white
      color: black
      font-weight: bold

      &:hover
        color: black

      &.is-black
        border-color: black

.sidebar-container
  display: flex
  flex-direction: column
  flex: 1
  +gt-mobile
    height: 0
  +mobile
    padding: 0 1rem
    width: 100%

.link-back
  font-size: 1.5rem

.cursor-pointer
  cursor: pointer !important

.cursor-default
  cursor: default !important

.show-on-mobile
  +gt-mobile
    display: none !important

.hide-on-lt-fhd
  +lt-fhd
    display: none !important

.hide-on-mobile
  +mobile
    display: none !important

.flex-1-on-desktop
  +gt-mobile
    flex: 1 !important

html
  --topbar-height: #{$topbar-height}
  --topbar-padding: 10px
  --topbar-select-height: calc(var(--topbar-height) - 2 * var(--topbar-padding))
  +mobile
    --topbar-height: #{$topbar-height-mobile}
    --topbar-padding: 5px
