#pyof
  .triple
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr

    > :first-child
      grid-column: 1 / span 2

  .double, .quadruple
    grid-template-rows: 1fr 1fr

  .quadruple, .six-photos
    grid-template-columns: 1fr 1fr

  .six-photos
    grid-template-rows: 1fr 1fr 1fr

  .landscape .double, .landscape.double
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr

  .landscape .triple, .landscape.triple
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr

    > :first-child
      grid-column: 1
      grid-row: 1 / span 2

  .landscape .six-photos, .landscape.six-photos
    grid-template: 1fr 1fr / 1fr 1fr 1fr