.collage-types
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  padding: 1rem

  +mobile
    padding: 0

.collage-type-preview,
.wizard-preview
  display: flex
  flex-direction: column
  align-items: center
  text-align: center

$hero-preview-base: calc(22vh * var(--size-scale, 1))
$l-multiplier: 53 / 35
$xl-multiplier: 60 / 35
$hero-l-base: calc(#{$hero-preview-base} * #{$l-multiplier})
$hero-xl-base: calc(#{$hero-preview-base} * #{$xl-multiplier})

.collage-type-thumbnail,
.wizard-thumbnail
  box-shadow: 0 0 8px rgba(0,0,0,.2)
  --base-size: 120px
  --aspect-ratio: 1 / 1.4
  height: var(--base-size)
  width: calc(var(--base-size) / var(--aspect-ratio))
  display: grid
  grid-gap: calc(#{$padding-percentage} * var(--base-size) / var(--aspect-ratio))
  padding: calc(#{$padding-percentage} * var(--base-size) / var(--aspect-ratio))
  overflow: hidden
  cursor: pointer

  +mobile
    --size-scale: .55

  &.is-size-m
    --base-size: #{$hero-preview-base}
    --aspect-ratio: calc(49 / 35)

  &.is-size-l
    --base-size: #{$hero-l-base}
    --aspect-ratio: calc(74 / 53)

  &.is-size-xl
    --base-size: #{$hero-xl-base}
    --aspect-ratio: calc(84 / 60)

  > div
    background: #ddd

  &.landscape
    width: var(--base-size)
    height: calc(var(--base-size) / var(--aspect-ratio))

.wizard-thumbnail
  background: white

  &.is-active
    background: $button-gradient

.thumbnail-cell
  display: flex
  overflow: hidden

  img
    width: 100%
    height: 100%
    object-fit: cover

.thumbnail__caption
  margin-top: .5em
  font-weight: bold
  font-size: 1.1rem

.landing
  .wizard-thumbnail
    +mobile
      --size-scale: .8
