.slide-forward-enter,
.slide-forward-exit,
.slide-backward-enter,
.slide-backward-exit
  transition: transform 300ms ease-out

.slide-forward-enter
  transform: translateX(100%)

  &.slide-forward-enter-active
    transform: translateX(0%)

.slide-forward-exit,
.slide-backward-exit
  position: absolute
  top: $navigation-placeholder-height
  left: 0
  width: 100%
  transform: translateX(0%)

.slide-forward-exit-active
  transform: translateX(-100%)

.slide-backward-enter
  transform: translateX(-100%)

  &.slide-backward-enter-active
    transform: translateX(0%)

.slide-backward-exit-active
  transform: translateX(100%)