.pyof-hero
  position: relative

  +gt-mobile
    height: 68vh

  h1
    +fluid-type(350px, 1920px, 26px, 72px)
    font-weight: bold
    line-height: 1.25
    margin: 1.25rem 0 1rem
    color: black
    +gt-mobile
      margin-top: 7rem
      text-shadow: 0 3px 10px black
      margin-bottom: 1.5rem
      color: white !important

.wizard-option-button
  +mobile
    padding: 0 !important
    font-weight: 400 !important
    width: 166px
    border-width: 1px !important

.wizard-preview
  .label
    display: none

.hero__bg
  height: $hero-base-height
  +gt-mobile
    height: 68vh
  background: url(../wizard/hero-bg.png)
  background-size: cover
  background-position: center

.hero__container
  display: flex
  height: 100%
  justify-content: center
  flex-direction: column
  text-align: center
  align-items: center
  +mobile
    padding: 0

  +gt-mobile
    position: absolute
    top: 0
    text-align: left
    align-items: flex-start
    padding: 0 8.5rem

#pyof
  .back-button, .next-button
    display: inline-flex
    align-items: center
    +mobile
      position: absolute
      top: 0
      height: 2rem
      transform: translateY(50%)
      margin-top: 0
      font-size: 1rem
      text-transform: uppercase

      + button
        margin-top: 0

    svg
      +gt-mobile
        display: none
      height: 70%
      width: auto
      vertical-align: text-bottom
      path
        fill: currentColor

  +mobile
    .back-button
      left: 1rem
      svg
        margin-right: .5em

    .next-button
      right: 1rem

      svg
        transform: rotate(180deg)
        margin-left: .5em

  .wizard-section
    text-align: center
    padding-top: 2rem
    position: relative

    h1, h2
      color: #000

    +mobile
      display: flex
      flex-direction: column
      align-items: center
      padding-top: 3rem

      button, .back-button
        display: block
        text-align: center

  .wizard__options
    +gt-mobile
      margin-top: 1rem
    .button
      margin-top: 1rem
      +mobile
        font-size: 14px
        height: 2rem !important
        line-height: 2rem
    +gt-mobile
      a, button
        &:not(:last-child)
          margin-right: 1.5rem

    +mobile
      text-align: center
      display: flex
      flex-direction: column
      align-items: center

.next-button, .back-button
  color: $secondary
  font-size: 22px
  background: none
  border: none
  outline: none

.hero__images
  position: absolute
  top: 1rem
  +gt-mobile
    top: 3rem
  left: 50%
  width: 100%
  justify-content: center
  transform: translateX(-50%)
  display: flex
  align-items: center
  --size-scale: 1

  > :not([style*="display:none"]):not(:last-child)
    margin-right: 1.25rem

  +gt-mobile
    > :not(:last-child)
      margin-right: 4rem

  > div
    cursor: default

+gt-mobile
  #pyof
    .landing__content
      .back-button
        display: none

+mobile
  .landing__content
    align-self: stretch
    position: relative
    padding-top: 3rem
    h1
      margin-top: 0