@import "../../css/_variables"

.swatches
  display: flex
  justify-content: space-between
  margin: 1.5rem 0 0

  +mobile
    margin-bottom: 1.5rem

.swatch
  height: 30px
  border: 1px solid #ccc
  width: 30px
  display: inline-block
  border-radius: 4px
  cursor: pointer
