@import "../../css/_variables"

.navigationHeader
  background: white
  height: $navigation-placeholder-height
  padding-left: 4.5rem
  padding-right: 4.5rem

.branding
  padding: 1rem 0
  display: inline-flex
  height: 100%
  user-select: none

  img
    height: 100%
    width: auto